<app-breadcrumb [title]="'Resources'" [items]="['Dashboard']" [active_item]="'Resources'"></app-breadcrumb>
<div class="col-xl-12 col-md-12 box-col-12">
    <div class="card" id="template">
        <div class="card-body">
                <div class="card-header">
                    <h6>Templates</h6>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/images/resources/template_deed.jpg" alt="">
                                <div class="text-center mt-3">
                                    <h6>Partnership Deed</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/images/resources/template_business.png" alt="">
                                <div class="text-center mt-3">
                                    <h6>Business Plan</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/images/resources/template_excel.png" alt="">
                                <div class="text-center mt-3">
                                    <h6>Excel Template</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="/assets/images/resources/template_household.jpg" alt="">
                                <div class="text-center mt-3">
                                    <h6>Household Budget</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 box-col-12 xl-100">
        <div class="card">
          <div class="blog-box blog-list row">
            <div class="col-sm-5"><img class="img-fluid sm-100-w" src="assets/images/blog/blog_small.jpeg" alt=""></div>
            <div class="col-sm-7">
              <div class="blog-details">
                <div class="blog-date digits">June 2021</div>
                <h6>Free invoicing software for freelancers and small businesses</h6>
                <div class="blog-bottom-content">
                  <ul class="blog-social">
                    <li>by: Admin</li>
                    <li class="digits">10 Hits</li>
                  </ul>
                  <hr>
                  <p class="mt-0">
                    The basic objective of a business is to reduce operational expenditure. Along with that increasing profit margin is an important criterion. No business in such tumultuous times wants to increase its overhead expenditure.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 box-col-12 xl-100">
            <div class="card" id="blog">
            <div class="blog-box blog-list row">
                <div class="col-sm-5"><img class="img-fluid sm-100-w" src="assets/images/blog/blog_customer.png" alt=""></div>
                <div class="col-sm-7">
                <div class="blog-details">
                    <div class="blog-date digits">June 2021</div>
                    <h6>3 helpful tips for increasing customer acquisition</h6>
                    <div class="blog-bottom-content">
                    <ul class="blog-social">
                        <li>by: Admin</li>
                        <li class="digits">02 Hits</li>
                    </ul>
                    <hr>
                    <p class="mt-0">
                        The last year and the year previous to that has been menacing for humanity. Covid 19 has raged all across and has had a tremendous impact on human life-altering the work environment and bringing about drastic changes in remote work operations.
                    </p>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-6 box-col-12 xl-100">
            <div class="card">
                <div class="blog-box blog-list row">
                <div class="col-sm-5"><img class="img-fluid sm-100-w" src="assets/images/blog/blog_ecommerce.jpeg" alt=""></div>
                <div class="col-sm-7">
                    <div class="blog-details">
                    <div class="blog-date digits">Sep 2021</div>
                    <h6>What Are The Different Types of e-Commerce Business Models?</h6>
                    <div class="blog-bottom-content">
                        <ul class="blog-social">
                        <li>by: Admin</li>
                        <li class="digits">7 Hits</li>
                        </ul>
                        <hr>
                        <p class="mt-0">
                            The 21st century is a time of great changes to the way the world economy works and runs. The internet has penetrated the farthest corners of the world. Soon, we will enter the era where everything would run on the internet. 
                        </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="blog-box blog-list row">
              <div class="col-sm-5"><img class="img-fluid sm-100-w" src="assets/images/blog/blog_ecommerce.jpeg" alt=""></div>
              <div class="col-sm-7">
                <div class="blog-details">
                  <div class="blog-date digits">July 2021</div>
                  <h6>What Are The Different Types of e-Commerce Business Models?</h6>
                  <div class="blog-bottom-content">
                    <ul class="blog-social">
                      <li>by: Admin</li>
                      <li class="digits">17 Hits</li>
                    </ul>
                    <hr>
                    <p class="mt-0">
                        When someone says “brand”, the first thing that might come into your mind are names, who have a giant corporate value in the market. But larger companies such as McDonald’s or Apple can spend millions of dollars for building a strong brand.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>    